 # SafeRelease Environment Variables Example
# Copy this file to '.env' and fill in your actual keys.
# Docker Compose will automatically read the '.env' file when you run 'docker-compose up'

# Groq API Key (Fallback LLM)
GROQ_API_KEY=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

# IBM Cloud API Keys (Primary Services for Python Sidecar)
IBM_CLOUD_APIKEY=J6zDGOyvJh_FzwhQ2QWfFzh1Yskl3eyRLRtGA1XBRNcQ
IBM_PROJECT_ID=77ebc99f-ea20-4d87-8a54-46ad2033682c

# Watson NLU API Keys (For C# Backend Risk Engine)
WATSON_API_KEY=8hlATXkYrEk3MhGgTVuD4GaGgOueyqTEiQOAdS8XteQr
WATSON_URL=https://api.au-syd.natural-language-understanding.watson.cloud.ibm.com/instances/53282b1d-05b9-47ea-bc96-0a28e89c5622

#speech to text keys
STT_API_KEY=OOiYoWBbLtV1daJo0n3vCchICyUOSh22oElQa2-CgrIN
STT_URL=https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/4aa7223b-a312-4c51-bcb1-2f435cfbc6be
